<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!-- <html xmlns:th="http://thymeleaf.org" lang="fr"> -->
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Site Nº1 des annonces de massage et bien-être,les meilleurs masseurs,les meilleures masseuses,
   Massage et  bien-être au Cameroun,annonces Massages - Service Massage, annonces adultes, Cameroun, Publier une annonce Cameroun
       ,yamo,belle vie, soins">
    <meta name="keywords" content="Massage, bien-être, Cameroun,pierres chaudes,Douala, Yaounde,
                        Massage californien, Massage londonien,Massage thailandais
                        Massage corps à corps, Massage sensuel,Massage sportif ,réfléxologie
                        Soin du visage, de la peau, SPA
                        Épilation, manucure et pédicure,
                        Huiles essentielles et Vitamines
                        diététique, Grossir ou Maigrir
                        Coach sentimental - love coach
                        détente, masseur, masser, stress
                        dos, nuque,hammam,circulation sanguine,
                        massothérapie,kinésithérapeute,massothérapeute,
                        sensualité,annonces, Massages, Service, Massage,
                        adultes, Cameroun, Publier, annonce, Cameroun">
    <meta charset="utf-8">




    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <title>jelivebien add post, site de petites annonces gratuites sur le bien-être </title>

</head>

<body>

<div th:insert="header :: copy-header"></div>

<div class="container mt-5">
    <form  th:action="@{/addpost}" class="was-validated" method="post"
          enctype="multipart/form-data" th:object="${post}" style="max-width: 600px; margin: auto;">


        <div class="mb-3 mt-3">
            <label for="titre_post" class="form-label">Title:</label>
            <input type="text" class="form-control" id="titre_post" placeholder="Entrer le titre"
                   name="titre_post" th:field="*{postTitle}" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez remplir ce champ.</div>
        </div>

        <div class="mb-3">
            <label for="post_description" class="form-label">Description:</label>
            <textarea class="form-control" id="post_description" name="post_description"
                      placeholder="Decrivez votre announce" th:field="*{postDescription}" required></textarea>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez remplir ce champ.</div>
        </div>

        <div class="mb-3">
            <label for="post_phone" class="form-label">Tel (Entrer votre numero - whatsapp):</label>
            <input type="tel" class="form-control" id="post_phone"  name="phone"
                   placeholder="690690000" maxlength="9" pattern="[6]{1}[0-9]{8}"
                   th:field="*{postPhoneNumber}" required>
            <!--<input type="tel" class="form-control" id="post_phone"  name="phone"
                   placeholder="690-690-000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                   th:field="*{postPhoneNumber}" required>-->
            <small>Format: 690690690</small><br><br>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez remplir ce champ.</div>


        </div>

        <div class="mb-3">
            <label for="post_city" class="form-label">Ville (Choisir une ville):</label >
            <select class="form-select form-select-sm" th:field="*{postCity}" name="post_city" id="post_city" required>
                <!-- <option selected disabled value="Votre ville">Votre ville</option>  -->
                <option th:each="city:${listPostCities}" th:value="${city}" th:text="${city}"></option>
                <div class="valid-feedback">Valide.</div>
                <div class="invalid-feedback">Veuillez remplir ce champ.</div>
            </select>
        </div>

        <div class="mb-3">
             <label class="form-label">Categorie (Choisir une categorie):</label>
             <select class="form-select form-select-sm" th:field="*{postCategory}" required>
                 <!-- <option selected disabled value="Choisir une categorie">Choisir une categorie</option>  -->
                 <option th:each="category:${listPostCategories}" th:value="${category}" th:text="${category}"></option>
                 <div class="valid-feedback">Valide.</div>
                 <div class="invalid-feedback">Veuillez remplir ce champ.</div>
             </select>
         </div>

         <div class="mb-3">
            <label class="form-label">Situation (se déplace?):</label>
            <select class="form-select form-select-sm" th:field="*{postMoveSituation}" required>
                <!--<option selected disabled value="Situation (se déplace?):">Situation (se déplace?):</option> -->
               <option th:each="situation:${listPostMoveSituation}" th:value="${situation}" th:text="${situation}"></option>
               <div class="valid-feedback">Valide.</div>
               <div class="invalid-feedback">Veuillez remplir ce champ.</div>
           </select>
       </div>




       <!--
       <div class="card">
           <div class="card-body" >
               <h2 class="card-title">Ajouter une image (facultatif)</h2>
               <div class="mb-3">
                       <input class="form-control" name="file_1" type="file" id="file_1" accept="image/png, image/jpeg"><br />
               </div>
           </div>
       </div>
       -->
        <div class="card">
            <div class="card-body" >
                <h2 class="card-title">Ajouter une ou plusieurs images</h2>
                <div class="mb-3">
                        <input required class="form-control" name="files" type="file"  multiple  id="files" accept="image/png,
                        image/jpeg,image/jpg, image/webp, image/jfif"><br />
                </div>
            </div>
        </div>



        <button type="submit" class="btn btn-warning" style="margin: 10px">Enregistrer</button>
    </form>
</div>





<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<div th:insert="footer :: copy"></div>
</body>
</html>