<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en" >
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta charset="utf-8">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">


    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}">


    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <title>jelivebien add post, site de petites annonces gratuites sur le bien-être </title>


</head>

<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-start ju">
        <a class="navbar-brand  col-lg-6 col-sm-8" href="/home">
            <img th:src="@{/img/logo.svg}" alt="" width="50%" height="auto">

        </a>

    </div>
</nav>


<div class="rounded" style="text-align: center">
    <h2>Mot de passe oublié</h2>
</div>

<div th:if="${error != null}" class="rounded" style="text-align: center">
    <p class="text-danger">[[${error}]]</p>
</div>
<div th:if="${message != null}" class="rounded" style="text-align: center">
    <p class="text-primary">[[${message}]]</p>
</div>


</body>
</html>