<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="description" content="Site Nº1 des annonces de massage et bien-être,les meilleurs masseurs,les meilleures masseuses,
   Massage et  bien-être au Cameroun,annonces Massages - Service Massage, annonces adultes, Cameroun, Publier une annonce Cameroun
       ,yamo,belle vie, soins">
  <meta name="keywords" content="Massage, bien-être, Cameroun,pierres chaudes,Douala, Yaounde,
                        Massage californien, Massage londonien,Massage thailandais
                        Massage corps à corps, Massage sensuel,Massage sportif ,réfléxologie
                        Soin du visage, de la peau, SPA
                        Épilation, manucure et pédicure,
                        Huiles essentielles et Vitamines
                        diététique, Grossir ou Maigrir
                        Coach sentimental - love coach
                        détente, masseur, masser, stress
                        dos, nuque,hammam,circulation sanguine,
                        massothérapie,kinésithérapeute,massothérapeute,
                        sensualité,annonces, Massages, Service, Massage,
                        adultes, Cameroun, Publier, annonce, Cameroun">

  <!-- Favicon -->
  <link th:href="@{/favicon.ico}" rel="icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/all.min.css}"/>

  <title>jelivebien, site de petites annonces gratuites sur le bien-être </title>

</head>

<body>

<div th:fragment="copy-header">
   <nav class="navbar py-0" style="background-color: lavender;">
  <div class="container-fluid justify-content-start">
    <div class="navbar-brand p-1 col-8" href="/">
      <a class="navbar-brand  col-lg-6 col-sm-8" href="/home">
        <img th:src="@{/img/logo1.svg}" alt="" width="50%" height="60px">

      </a>

  </div>
    </div>
</nav>
</div>

</body>

</html>